{
  "trailingComma": "all",
  "tabWidth": 2,
  "semi": true,
  "singleQuote": true,
  "printWidth": 120,
  "bracketSpacing": true,
  "endOfLine": "lf",
  "tailwindConfig": "./tailwind.config.js",
  "tailwindAttributes": ["wrapperClassName", "wrapClassName", "rootClassName"],
  "tailwindFunctions": ["classNames", "classnames", "twMerge"]
}
